/* header animation */

@keyframes scalable-intro-anime {
    0% {
        transform:scaleX(1.5);
    }
    25% {
        transform:scaleX(.5);
    }
    50% {
        transform:scaleX(1.2);
    }
    100% {
        transform:scaleX(1);
    }
}


/* rotate home */

@keyframes rotate-home {
    0%{
        transform: translateX(-50%)rotateZ(-90deg); 
    }

    100%{
        transform: translateX(0%)rotateZ(0deg); 
    }
}


/* back home */

@keyframes back-home {
    to{
        transform: translate(0);
    }
}



