:root{

    /* units */

    --cn-gap:25px;
    --cnf-gap:10px;

    --xs-rem:1rem;
    --sm-rem:1.5rem;
    --md-rem:2rem;
    --lg-rem:3rem;
    --xl-rem:4rem;

    /* min width */

    --width-3:100px;
    --width-2:min(350px,100%);

    /* z-index */

    --index-1:1;
    --index-2:2;
    --index-3:3;

    /* font weight */
    --fw-bold:700;
    /* font family */
    --ff-primary:'Roboto', sans-serif;
    /* font sizes */
    --fs-title-1:clamp(1.3rem , 5vw , 4rem);

    /* colors */

    --clr-primary:#2dcc70;
    --clr-secondary:#252f31;

    --clr-light-100:#fff;
    --clr-light-50:#f2f2f2;

    --clr-dark-100:#191e22;
    --clr-dark-50:#252e30;
    --clr-dark-75:#555;
    --clr-dark-25:#6a6e71;
}

*,*::after,*::before{
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
}

body{
    font-family: var(--ff-primary);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body > section {
    margin-bottom: var(--xl-rem,4rem);
}

/*********** reset & element *********/

ul{
    list-style: none;
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start:0;
}

a{
    text-decoration: none;
    color:inherit;
}

button {
    background: transparent;
    border: none;
    outline-color: transparent;
    font-weight: inherit;
}

button,i,.clickable{
    cursor: pointer;
}

i,.fa,.fas,.fa-solid{
    font-family:"Font Awesome 6 Free";
    font-weight: 900;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h2:not(.intro__heading),h3,h4{
    margin-top: 0;
    margin-bottom: 0.6rem;
    color:var(--clr-dark-25 , #555);
}

h2:not(.some-info h2 , header h2){
    width:100%;
    max-width: 600px;
    padding-bottom:1rem;
    border-bottom: 2px solid var(--clr-primary , #2dcc70);
}

p:not(.special-p) , blockquote{
    font-size: .959rem;
    line-height: 1.7;
    color: var(--clr-dark-25);
}

/*********** classes *********/
.bold{
    font-weight: var(--fw-bold , 700);
}
.relative{
    position: relative;
}
.center{
    text-align: center;
}

.flex{
    display: flex;
}
.js-between{
    justify-content: space-between;
}
.js-center{
    justify-content:center;
}
.align-center{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}

.bg-hight{
    background: var(--clr-light-100 , #fff);
}

.bg-gray{
    background:var(--clr-light-50);
}

.active{
    color: var(--clr-primary);
}
/********* components ********/
.container,
.container-fluid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--md-rem ) auto;
    gap: var(--sm-rem) var(--xs-rem , 1rem);
}

.container{
    width: calc(100% - var(--cn-gap));
}

.container-fluid{
    width: calc(100% - var(--cnf-gap));
}

.flex-min-w{
    flex: 1;
    min-width: var(--width-2);
}

.btn{
    font-weight: var(--fw-bold , 700);
    color:inherit;
    outline-color: transparent;
    border: none;
}

.btn--primary-outlined{
    color: var(--clr-primary);
    border:3px solid var(--clr-primary);
    background: transparent;
}

.btn--primary-outlined:hover,
.btn--primary-outlined::selection{
    color: var(--clr-light-100 , #fff);
    border:3px solid var(--clr-primary);
    background:var(--clr-primary);
}

.btn--primary-solid{
    color: var(--clr-light-100 , #fff);
    border:3px solid var(--clr-primary);
    background:var(--clr-primary);
}

.btn--primary-solid:hover,
.btn--primary-solid::selection{
    color:var(--clr-primary);
    border:3px solid var(--clr-primary);
    background:transparent;
}

.sr-only{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1px;
    margin: -1px;
    overflow: hidden;
}

/*************** animation classes ************/
.transformers-container{
    overflow: hidden;
}

/********** intro *************/

/* intro animation class */
h2.intro__heading-animation{
    animation: scalable-intro-anime .8s ease-in-out 1;
}

/********** rotate *************/

.rotate{
    transition: 1s transform ease-in-out;
    animation-fill-mode: forwards;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.rotate-to-right{
    transform: translateX(-50%)rotateZ(-360deg);
}
/* rotate animation class */
.rotate-home{
    animation-name: rotate-home;
}

/*********  move ********/

.move{
    transition: 1.2s transform ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}

.move-to-right{
    transform: translateX(-100%);
}

.move-to-left{
    transform: translateX(100%);
}

.move-to-top{
    transform: translateY(50%);
}

/* move animation class */

.back-home{
    animation-name: back-home ;
}
