/* 768px 992px 1200px 1400px */

@media (min-width:768px){
    :root{
        --container-margin-x:100px;
        --container-fluid-margin-x:25px;
    }

    /* about */

    .about__picture{
        max-width: 50%;
        margin: 0 auto;
    }

    .about__sm-article{
        grid-column: auto / span 1; 
    }

    /* skills */

    .skills .container{
        flex-direction: row;
    }

    /* portfolio */

    .container--img img{
        width:200px;
    }

    /* contact */

    .contact .container{
        flex-direction: row;
    }

    .contact hr{
        display: none;
    }

}

@media (min-width:992px){
    :root{
        --container-margin-x:150px;
        --container-fluid-margin-x:25px;
    }

        /* header */

        .links__menu{
            display: none;
        }

        .links__list{
            position: relative;
            top: 0;
            left: 0;
            width:auto;
            flex-direction: row;
            column-gap:var(--sm-rem);
            background: inherit;
            transform: scale3d(1,1,1);
        }

        /**** about *******/

        .about{
            flex-direction: row;
        }

        .about__picture{
            max-width: 33%;
        }

        /* portfolio */

        .container--img img{
            width:250px;
        }
}

@media (min-width:1200px){
    :root{
        --container-margin-x:250px;
        --container-fluid-margin-x:63px;
    }

    .about__sm-article p{
        margin-top: -1.5rem;
    }
}

@media (min-width:1400px){
    :root{
        --container-margin-x:350px;
        --container-fluid-margin-x:88;
    }
}
